@model IEnumerable<WebAppForumsMvc.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purpose)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CategoryId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.CategoryId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.CategoryId })
            </td>
        </tr>
}
    </tbody>
</table>
