@model Univalle.Fie.Sistemas.UniBook.UnibookEntertainmentMvc.Models.CategoryModel



<h2>@ViewData["Details"]</h2>

<div>
    <h4>@ViewData["Category"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink(ViewData["Edit"].ToString(), "Edit", new {id= Model.CategoryId }) |
    <a asp-action="Index">@ViewData["Index"]</a>
</div>
