@model IEnumerable<Univalle.Fie.Sistemas.UniBook.UnibookEntertainmentMvc.Models.CategoryModel>

<h2>
    @ViewData["Index"] 
    @ViewData["Create"]
    
</h2>

<p>
    <a asp-action="Create">@ViewData["Create"] </a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                         
                    @Html.DisplayNameFor(model => model.Description)
                </th>
               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
         
            <td>
                @Html.ActionLink(ViewData["Edit"].ToString(), "Edit", new { id = item.CategoryId }) |
                @Html.ActionLink(ViewData["Details"].ToString(), "Details", new { id = item.CategoryId }) |
                @Html.ActionLink(ViewData["Delete"].ToString(), "Delete", new { id = item.CategoryId })
            </td>
        </tr>
}
    </tbody>
</table>
