@model Univalle.Fie.Sistemas.UniBook.AppUnibookRegisterMvc.Models.GenderModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GenderModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.GenderId  }) |
    <a asp-action="Index">Back to List</a>
</div>
