@model IEnumerable<Univalle.Fie.Sistemas.UniBook.AppUnibookRegisterMvc.Models.GenderModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GenderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GenderId }) |
                @Html.ActionLink("Details", "Details", new { id=item.GenderId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GenderId })
            </td>
        </tr>
}
    </tbody>
</table>
