@model IEnumerable<Univalle.Fie.Sistemas.UniBook.UnibookEntertainmentMvc.Models.EntertainmentModel>



<h2>@ViewData["Index"]
@ViewData["Create"]</h2>

<p>
    <a asp-action="Create">@ViewData["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EntertainmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaceAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateHour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discontinued)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntertainmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.ActionLink(ViewData["Edit"].ToString(), "Edit", new {  id=item.EntertainmentId  }) |
                @Html.ActionLink(ViewData["Details"].ToString(), "Details", new {  id=item.EntertainmentId }) |
                @Html.ActionLink(ViewData["Delete"].ToString(), "Delete", new {  id=item.EntertainmentId })
            </td>
        </tr>
}
    </tbody>
</table>
